#app-mount .container-2cd8Mz {
	background: rgb(0, 0, 0, var(--middle-brightness));
	.inset-SbsSFp {
		background-color: var(--background-secondary);
	}
	.itemCard-3Etziu:hover {
		background: var(--foreground);
	}
	.nowPlayingColumn-1eCBCN {
		background: rgb(0, 0, 0, var(--right-brightness));
	}
	.defaultColor-1GKx81 {
		color: #1ca730;
	}
	header.headerFull-34WFWN.header-3jUeHi .defaultColor-1EVLSt {
		color: #7a3ef3;
	}
}
